In [1]:
import numpy as np
import pandas as pd

In [5]:
city = 'Recife'

data_path = '../../data/output/' + city + '/new_feats_data_Recife.csv'

data = pd.read_csv(data_path, usecols=['route', 'tripNum', 'shapeId', 'busCode', 'busCodeSB','stopPointId',
                                    'DAY(gps_datetime)','headway','headwayThreshold', 'busBunching'])
print(data.shape)
data.head()

(1432633, 10)

,route,tripNum,shapeId,busCode,stopPointId,headway,headwayThreshold,busBunching,busCodeSB,DAY(gps_datetime)
0,68,3,Route_160,12021,2902,85,5,False,12022,3
1,68,3,Route_160,12021,2903,90,5,False,12022,3
2,68,3,Route_160,12021,2904,99,5,False,12022,3
3,68,3,Route_160,12021,2905,116,5,False,12022,3
4,68,3,Route_160,12021,2611,116,5,False,12022,3

In [6]:
data[data.busBunching == True]

,route,tripNum,shapeId,busCode,stopPointId,headway,headwayThreshold,busBunching,busCodeSB,DAY(gps_datetime)
226,68,2,Route_161,12021,5967,2,5,True,12022,7
280,68,8,Route_161,12021,6898,3,4,True,12022,7
281,68,8,Route_161,12021,2323,1,4,True,12022,7
495,68,7,Route_161,12021,2342,4,4,True,12024,6
629,68,7,Route_161,12021,2920,0,1,True,12025,2
...,...,...,...,...,...,...,...,...,...,...
1431026,138,5,Route_320,81987,5245,2,5,True,81957,5
1432512,138,7,Route_321,81987,5280,3,5,True,81977,4
1432513,138,7,Route_321,81987,5281,1,5,True,81977,4
1432522,138,1,Route_320,81987,5258,4,5,True,81977,5
1432626,138,2,Route_320,81987,5255,0,5,True,81977,7

In [8]:
data[(data.busBunching == True) & (data.route == 68)]

,route,tripNum,shapeId,busCode,stopPointId,headway,headwayThreshold,busBunching,busCodeSB,DAY(gps_datetime)
226,68,2,Route_161,12021,5967,2,5,True,12022,7
280,68,8,Route_161,12021,6898,3,4,True,12022,7
281,68,8,Route_161,12021,2323,1,4,True,12022,7
495,68,7,Route_161,12021,2342,4,4,True,12024,6
629,68,7,Route_161,12021,2920,0,1,True,12025,2
...,...,...,...,...,...,...,...,...,...,...
56129,68,2,Route_160,12104,2913,3,4,True,12040,4
95843,68,2,Route_160,12207,2920,5,5,True,12021,5
132981,68,5,Route_160,12233,2920,4,5,True,12040,2
133213,68,2,Route_160,12233,2611,5,5,True,12059,1
133214,68,2,Route_160,12233,2905,0,2,True,12059,1

In [15]:
data[(data.busBunching == True) & (data.route == 68) & (data.busCode == 12021)]

,route,tripNum,shapeId,busCode,stopPointId,headway,headwayThreshold,busBunching,busCodeSB,DAY(gps_datetime)
226,68,2,Route_161,12021,5967,2,5,True,12022,7
280,68,8,Route_161,12021,6898,3,4,True,12022,7
281,68,8,Route_161,12021,2323,1,4,True,12022,7
495,68,7,Route_161,12021,2342,4,4,True,12024,6
629,68,7,Route_161,12021,2920,0,1,True,12025,2
752,68,2,Route_160,12021,2341,2,5,True,12025,4
753,68,2,Route_160,12021,2339,5,5,True,12025,4
754,68,2,Route_160,12021,2337,5,5,True,12025,4
1083,68,8,Route_161,12021,2913,5,5,True,12025,7
1084,68,8,Route_161,12021,2899,4,5,True,12025,7
1086,68,8,Route_161,12021,2912,0,5,True,12025,7
1454,68,1,Route_160,12021,2913,1,5,True,12025,12
1455,68,1,Route_160,12021,2899,2,5,True,12025,12
1643,68,8,Route_161,12021,6011,5,5,True,12029,7
1644,68,8,Route_161,12021,6010,4,4,True,12029,7
1645,68,8,Route_161,12021,5971,1,4,True,12029,7
1646,68,8,Route_161,12021,5970,0,4,True,12029,7
1789,68,7,Route_160,12021,5986,0,2,True,12040,2
1791,68,8,Route_161,12021,5981,0,4,True,12040,2
1792,68,8,Route_161,12021,6010,0,4,True,12040,2
1793,68,8,Route_161,12021,6011,0,4,True,12040,2
1794,68,8,Route_161,12021,2330,0,5,True,12040,2
1795,68,8,Route_161,12021,2332,0,4,True,12040,2
1796,68,8,Route_161,12021,2334,0,4,True,12040,2
1797,68,8,Route_161,12021,2342,0,4,True,12040,2
1798,68,8,Route_161,12021,2344,1,4,True,12040,2
1799,68,8,Route_161,12021,2320,1,4,True,12040,2
1800,68,8,Route_161,12021,2910,0,4,True,12040,2
1801,68,8,Route_161,12021,2912,0,4,True,12040,2
1802,68,8,Route_161,12021,2899,0,3,True,12040,2
1803,68,8,Route_161,12021,2916,0,3,True,12040,2
1976,68,2,Route_160,12021,2896,5,5,True,12040,4
1977,68,2,Route_160,12021,2897,0,4,True,12040,4
2421,68,1,Route_160,12021,2920,3,5,True,12059,12
2422,68,2,Route_160,12021,2920,3,5,True,12104,4
2447,68,3,Route_160,12021,5975,5,5,True,12104,4
2449,68,3,Route_160,12021,6500,1,3,True,12104,4
2450,68,3,Route_160,12021,5980,1,3,True,12104,4
2451,68,3,Route_160,12021,5982,1,3,True,12104,4
2452,68,3,Route_160,12021,5984,1,3,True,12104,4
2453,68,3,Route_160,12021,5986,2,3,True,12104,4
2454,68,3,Route_160,12021,6915,3,3,True,12104,4
2489,68,6,Route_160,12021,2896,2,2,True,12104,4
2521,68,6,Route_160,12021,2920,2,2,True,12104,4
2916,68,4,Route_161,12021,2916,5,5,True,12233,1

In [14]:
data[(data.busBunching == True) & (data.route == 68) & (data.busCode == 12021)].sort_values(['busCode', 'busCodeSB', 
                                                                                                   'DAY(gps_datetime)'])

,route,tripNum,shapeId,busCode,stopPointId,headway,headwayThreshold,busBunching,busCodeSB,DAY(gps_datetime)
226,68,2,Route_161,12021,5967,2,5,True,12022,7
280,68,8,Route_161,12021,6898,3,4,True,12022,7
281,68,8,Route_161,12021,2323,1,4,True,12022,7
495,68,7,Route_161,12021,2342,4,4,True,12024,6
629,68,7,Route_161,12021,2920,0,1,True,12025,2
752,68,2,Route_160,12021,2341,2,5,True,12025,4
753,68,2,Route_160,12021,2339,5,5,True,12025,4
754,68,2,Route_160,12021,2337,5,5,True,12025,4
1083,68,8,Route_161,12021,2913,5,5,True,12025,7
1084,68,8,Route_161,12021,2899,4,5,True,12025,7
1086,68,8,Route_161,12021,2912,0,5,True,12025,7
1454,68,1,Route_160,12021,2913,1,5,True,12025,12
1455,68,1,Route_160,12021,2899,2,5,True,12025,12
1643,68,8,Route_161,12021,6011,5,5,True,12029,7
1644,68,8,Route_161,12021,6010,4,4,True,12029,7
1645,68,8,Route_161,12021,5971,1,4,True,12029,7
1646,68,8,Route_161,12021,5970,0,4,True,12029,7
1789,68,7,Route_160,12021,5986,0,2,True,12040,2
1791,68,8,Route_161,12021,5981,0,4,True,12040,2
1792,68,8,Route_161,12021,6010,0,4,True,12040,2
1793,68,8,Route_161,12021,6011,0,4,True,12040,2
1794,68,8,Route_161,12021,2330,0,5,True,12040,2
1795,68,8,Route_161,12021,2332,0,4,True,12040,2
1796,68,8,Route_161,12021,2334,0,4,True,12040,2
1797,68,8,Route_161,12021,2342,0,4,True,12040,2
1798,68,8,Route_161,12021,2344,1,4,True,12040,2
1799,68,8,Route_161,12021,2320,1,4,True,12040,2
1800,68,8,Route_161,12021,2910,0,4,True,12040,2
1801,68,8,Route_161,12021,2912,0,4,True,12040,2
1802,68,8,Route_161,12021,2899,0,3,True,12040,2
1803,68,8,Route_161,12021,2916,0,3,True,12040,2
1976,68,2,Route_160,12021,2896,5,5,True,12040,4
1977,68,2,Route_160,12021,2897,0,4,True,12040,4
2421,68,1,Route_160,12021,2920,3,5,True,12059,12
2422,68,2,Route_160,12021,2920,3,5,True,12104,4
2447,68,3,Route_160,12021,5975,5,5,True,12104,4
2449,68,3,Route_160,12021,6500,1,3,True,12104,4
2450,68,3,Route_160,12021,5980,1,3,True,12104,4
2451,68,3,Route_160,12021,5982,1,3,True,12104,4
2452,68,3,Route_160,12021,5984,1,3,True,12104,4
2453,68,3,Route_160,12021,5986,2,3,True,12104,4
2454,68,3,Route_160,12021,6915,3,3,True,12104,4
2489,68,6,Route_160,12021,2896,2,2,True,12104,4
2521,68,6,Route_160,12021,2920,2,2,True,12104,4
2916,68,4,Route_161,12021,2916,5,5,True,12233,1

### Finding bus bunching to plot in map

In [3]:
city = 'Curitiba'

data_path = '../../data/output/' + city + '/new_feats_data.csv'

data = pd.read_csv(data_path, usecols=['route', 'tripNum', 'shapeId', 'busCode', 'busCodeSB','stopPointId',
                                       'GPShour','DAY(gps_datetime)','headway','headwayThreshold', 'busBunching'])
print(data.shape)
data.head()

(6211570, 11)

,route,tripNum,shapeId,busCode,stopPointId,headway,headwayThreshold,busBunching,GPShour,busCodeSB,DAY(gps_datetime)
0,232,1,1810,BA001,27340,1,3,True,6,BA026,27
1,232,1,1810,BA001,27328,1,3,True,6,BA026,27
2,232,1,1810,BA001,32462,2,3,True,6,BA026,27
3,232,1,1810,BA001,32465,2,3,True,6,BA026,27
4,232,1,1810,BA001,32468,2,3,True,6,BA026,27

In [24]:
data[(data.GPShour == 6) & (data.route == 232) & (data.shapeId == 1810) & (data["DAY(gps_datetime)"] == 27)]['busCode'].unique()

array(['BA001', 'BA026', 'BA029', 'BA121'], dtype=object)

In [4]:
data_path = '../../data/output/' + city + '/preprocessed_2019-05-27.csv'

data_gps = pd.read_csv(data_path)
print(data_gps.shape)
data_gps.head()

(524470, 6)

  bus_code   latitude  longitude timestamp  line_code  gps_id
0    MC304 -25.418973 -49.294545  19:32:19        901       1
1    MC304 -25.418936 -49.294520  19:42:20        901       2
2    MC304 -25.418946 -49.294518  19:52:21        901       3
3    MC304 -25.418921 -49.294528  20:02:22        901       4
4    MC304 -25.418946 -49.294488  20:12:23        901       5

In [62]:
data_gps[(data_gps.bus_code == 'BA125')].iloc[2250:2300,]

      bus_code   latitude  longitude timestamp  line_code  gps_id
37388    BA125 -25.371038 -49.210071  11:50:18        233    2251
37389    BA125 -25.371343 -49.210085  11:50:22        233    2252
37390    BA125 -25.371480 -49.210015  11:50:26        233    2253
37391    BA125 -25.371781 -49.210050  11:50:58        233    2254
37392    BA125 -25.371926 -49.210165  11:51:02        233    2255
37393    BA125 -25.372425 -49.210640  11:51:19        233    2256
37394    BA125 -25.372551 -49.210951  11:51:24        233    2257
37395    BA125 -25.372596 -49.211081  11:51:27        233    2258
37396    BA125 -25.372645 -49.211405  11:51:47        233    2259
37397    BA125 -25.372630 -49.211608  11:51:50        233    2260
37398    BA125 -25.372680 -49.212850  11:52:02        233    2261
37399    BA125 -25.372833 -49.213131  11:52:05        233    2262
37400    BA125 -25.373256 -49.213825  11:52:14        233    2263
37401    BA125 -25.373443 -49.214193  11:52:21        233    2264
37402    BA125 -25.373613 -49.214450  11:52:40        233    2265
37403    BA125 -25.373710 -49.214608  11:52:43        233    2266
37404    BA125 -25.373983 -49.215151  11:52:52        233    2267
37405    BA125 -25.374376 -49.215956  11:53:11        233    2268
37406    BA125 -25.374505 -49.216235  11:53:15        233    2269
37407    BA125 -25.374876 -49.217108  11:53:27        233    2270
37408    BA125 -25.375115 -49.217651  11:53:37        233    2271
37409    BA125 -25.375450 -49.218685  11:53:48        233    2272
37410    BA125 -25.375500 -49.219003  11:53:52        233    2273
37411    BA125 -25.375558 -49.219338  11:53:59        233    2274
37412    BA125 -25.375543 -49.219668  11:54:08        233    2275
37413    BA125 -25.375405 -49.219995  11:54:14        233    2276
37414    BA125 -25.374958 -49.220840  11:54:24        233    2277
37415    BA125 -25.374643 -49.221600  11:54:33        233    2278
37416    BA125 -25.374623 -49.221691  11:54:34        233    2279
37417    BA125 -25.374563 -49.221958  11:54:38        233    2280
37418    BA125 -25.374536 -49.222270  11:54:58        233    2281
37419    BA125 -25.374486 -49.222530  11:55:03        233    2282
37420    BA125 -25.374443 -49.222755  11:55:12        233    2283
37421    BA125 -25.374425 -49.222853  11:55:39        233    2284
37422    BA125 -25.374413 -49.223343  11:55:51        233    2285
37423    BA125 -25.374720 -49.223431  11:55:56        233    2286
37424    BA125 -25.375023 -49.223650  11:56:00        233    2287
37425    BA125 -25.376571 -49.224970  11:56:23        233    2288
37426    BA125 -25.376940 -49.225196  11:56:31        233    2289
37427    BA125 -25.376976 -49.224890  11:56:38        233    2290
37428    BA125 -25.376831 -49.224600  11:56:45        233    2291
37429    BA125 -25.376828 -49.224271  11:56:51        233    2292
37430    BA125 -25.376838 -49.224030  11:56:56        233    2293
37431    BA125 -25.376795 -49.223726  11:59:42        233    2294
37432    BA125 -25.376986 -49.223500  11:59:49        233    2295
37433    BA125 -25.377216 -49.223678  11:59:55        233    2296
37434    BA125 -25.377230 -49.224021  12:00:01        233    2297
37435    BA125 -25.377141 -49.225303  12:00:25        233    2298
37436    BA125 -25.376916 -49.225135  12:00:56        233    2299
37437    BA125 -25.376751 -49.224973  12:01:09        233    2300

In [63]:
data_gps[(data_gps.bus_code == 'BA032')].iloc[2000:2050,]

     bus_code   latitude  longitude timestamp  line_code  gps_id
7555    BA032 -25.374820 -49.221205  11:50:54        233    2001
7556    BA032 -25.374886 -49.221033  11:51:07        233    2002
7557    BA032 -25.375043 -49.220720  11:51:13        233    2003
7558    BA032 -25.375325 -49.220161  11:51:21        233    2004
7559    BA032 -25.375606 -49.219341  11:51:59        233    2005
7560    BA032 -25.375291 -49.219363  11:52:05        233    2006
7561    BA032 -25.374995 -49.219313  11:52:09        233    2007
7562    BA032 -25.374918 -49.219295  11:52:10        233    2008
7563    BA032 -25.374526 -49.219168  11:52:16        233    2009
7564    BA032 -25.374038 -49.218975  11:52:35        233    2010
7565    BA032 -25.373451 -49.218731  11:52:45        233    2011
7566    BA032 -25.373115 -49.218571  11:52:50        233    2012
7567    BA032 -25.372611 -49.218296  11:52:55        233    2013
7568    BA032 -25.372283 -49.218033  11:52:58        233    2014
7569    BA032 -25.371298 -49.217185  11:53:07        233    2015
7570    BA032 -25.371030 -49.216976  11:53:10        233    2016
7571    BA032 -25.370926 -49.216900  11:53:12        233    2017
7572    BA032 -25.370893 -49.216875  11:53:14        233    2018
7573    BA032 -25.370741 -49.216798  11:53:32        233    2019
7574    BA032 -25.370541 -49.216665  11:53:36        233    2020
7575    BA032 -25.370008 -49.216415  11:53:42        233    2021
7576    BA032 -25.369640 -49.216360  11:53:45        233    2022
7577    BA032 -25.369086 -49.216343  11:53:49        233    2023
7578    BA032 -25.368813 -49.216343  11:53:51        233    2024
7579    BA032 -25.368445 -49.216335  11:53:54        233    2025
7580    BA032 -25.368340 -49.216323  11:53:55        233    2026
7581    BA032 -25.368036 -49.216263  11:53:59        233    2027
7582    BA032 -25.367928 -49.216240  11:54:02        233    2028
7583    BA032 -25.367656 -49.216228  11:54:27        233    2029
7584    BA032 -25.367476 -49.216200  11:54:30        233    2030
7585    BA032 -25.366925 -49.216076  11:54:36        233    2031
7586    BA032 -25.366705 -49.216016  11:54:38        233    2032
7587    BA032 -25.366366 -49.215891  11:54:42        233    2033
7588    BA032 -25.366290 -49.215851  11:54:44        233    2034
7589    BA032 -25.366056 -49.215663  11:54:58        233    2035
7590    BA032 -25.365911 -49.215501  11:55:01        233    2036
7591    BA032 -25.365531 -49.215035  11:55:09        233    2037
7592    BA032 -25.365240 -49.214675  11:55:17        233    2038
7593    BA032 -25.365115 -49.214540  11:55:19        233    2039
7594    BA032 -25.364880 -49.214293  11:55:23        233    2040
7595    BA032 -25.364835 -49.214243  11:55:25        233    2041
7596    BA032 -25.364661 -49.214043  11:55:55        233    2042
7597    BA032 -25.364526 -49.213881  11:55:58        233    2043
7598    BA032 -25.364028 -49.213130  11:56:07        233    2044
7599    BA032 -25.363895 -49.212848  11:56:10        233    2045
7600    BA032 -25.363813 -49.212556  11:56:13        233    2046
7601    BA032 -25.363840 -49.212250  11:56:16        233    2047
7602    BA032 -25.363905 -49.211935  11:56:19        233    2048
7603    BA032 -25.363986 -49.211181  11:56:27        233    2049
7604    BA032 -25.364073 -49.210783  11:56:32        233    2050

In [36]:
data_gps[(data_gps.bus_code == 'BA001')].iloc[340:400,]

       bus_code   latitude  longitude timestamp  line_code  gps_id
308972    BA001 -25.357663 -49.233540  06:31:36        232     341
308973    BA001 -25.357478 -49.233740  06:31:57        232     342
308974    BA001 -25.357100 -49.234246  06:32:08        232     343
308975    BA001 -25.356973 -49.234561  06:32:12        232     344
308976    BA001 -25.356741 -49.235143  06:32:19        232     345
308977    BA001 -25.356456 -49.234998  06:32:26        232     346
308978    BA001 -25.356396 -49.234938  06:32:27        232     347
308979    BA001 -25.356331 -49.234878  06:32:28        232     348
308980    BA001 -25.355470 -49.234223  06:32:39        232     349
308981    BA001 -25.355193 -49.234143  06:32:42        232     350
308982    BA001 -25.354946 -49.233941  06:32:46        232     351
308983    BA001 -25.354811 -49.233651  06:32:49        232     352
308984    BA001 -25.354598 -49.233363  06:32:52        232     353
308985    BA001 -25.354320 -49.233085  06:32:55        232     354
308986    BA001 -25.353230 -49.231710  06:33:10        232     355
308987    BA001 -25.353123 -49.231550  06:33:12        232     356
308988    BA001 -25.352893 -49.231365  06:33:15        232     357
308989    BA001 -25.352540 -49.231145  06:33:19        232     358
308990    BA001 -25.352358 -49.231050  06:33:21        232     359
308991    BA001 -25.351641 -49.230681  06:33:31        232     360
308992    BA001 -25.351520 -49.230656  06:33:34        232     361
308993    BA001 -25.351383 -49.230926  06:33:42        232     362
308994    BA001 -25.351306 -49.231216  06:33:48        232     363
308995    BA001 -25.351191 -49.231608  06:33:54        232     364
308996    BA001 -25.350968 -49.232076  06:34:00        232     365
308997    BA001 -25.350718 -49.232311  06:34:04        232     366
308998    BA001 -25.350651 -49.232690  06:34:08        232     367
308999    BA001 -25.350658 -49.233083  06:34:12        232     368
309000    BA001 -25.350698 -49.233475  06:34:17        232     369
309001    BA001 -25.350710 -49.233531  06:34:19        232     370
309002    BA001 -25.350751 -49.233705  06:34:31        232     371
309003    BA001 -25.350865 -49.234021  06:34:36        232     372
309004    BA001 -25.351028 -49.234321  06:34:41        232     373
309005    BA001 -25.351355 -49.235010  06:34:52        232     374
309006    BA001 -25.351453 -49.235320  06:34:56        232     375
309007    BA001 -25.351591 -49.235623  06:35:02        232     376
309008    BA001 -25.351710 -49.235591  06:35:06        232     377
309009    BA001 -25.351545 -49.235355  06:35:53        232     378
309010    BA001 -25.351525 -49.235275  06:37:00        232     379
309011    BA001 -25.351431 -49.235016  06:37:04        232     380
309012    BA001 -25.351358 -49.234823  06:37:06        232     381
309013    BA001 -25.351161 -49.234428  06:37:10        232     382
309014    BA001 -25.351046 -49.234233  06:37:13        232     383
309015    BA001 -25.350860 -49.233841  06:37:19        232     384
309016    BA001 -25.350781 -49.233491  06:37:23        232     385
309017    BA001 -25.350761 -49.233361  06:37:26        232     386
309018    BA001 -25.350728 -49.233083  06:38:06        232     387
309019    BA001 -25.350720 -49.232666  06:38:11        232     388
309020    BA001 -25.350778 -49.232306  06:38:15        232     389
309021    BA001 -25.351005 -49.232068  06:38:19        232     390
309022    BA001 -25.351193 -49.231796  06:38:23        232     391
309023    BA001 -25.351283 -49.231545  06:38:27        232     392
309024    BA001 -25.351300 -49.231488  06:38:30        232     393
309025    BA001 -25.351311 -49.231346  06:38:55        232     394
309026    BA001 -25.351401 -49.231021  06:39:00        232     395
309027    BA001 -25.351470 -49.230771  06:39:05        232     396
309028    BA001 -25.351573 -49.230683  06:39:12        232     397
309029    BA001 -25.351773 -49.230765  06:39:17        232     398
309030    BA001 -25.352011 -49.230920  06:39:23        232     399
309031    BA001 -25.352385 -49.231118  06:39:32        232     400

In [34]:
data_gps[(data_gps.bus_code == 'BA026')].iloc[100:150,]

       bus_code   latitude  longitude timestamp  line_code  gps_id
160499    BA026 -25.363698 -49.233158  06:31:47        232     101
160500    BA026 -25.363606 -49.233270  06:31:49        232     102
160501    BA026 -25.363468 -49.233606  06:31:54        232     103
160502    BA026 -25.363281 -49.233930  06:32:02        232     104
160503    BA026 -25.363020 -49.233808  06:32:06        232     105
160504    BA026 -25.362778 -49.233590  06:32:09        232     106
160505    BA026 -25.361990 -49.232770  06:32:19        232     107
160506    BA026 -25.361805 -49.232560  06:32:23        232     108
160507    BA026 -25.361163 -49.231861  06:32:38        232     109
160508    BA026 -25.360875 -49.231673  06:32:43        232     110
160509    BA026 -25.360563 -49.231591  06:32:48        232     111
160510    BA026 -25.360128 -49.231513  06:32:57        232     112
160511    BA026 -25.359843 -49.231516  06:33:03        232     113
160512    BA026 -25.359608 -49.231681  06:33:09        232     114
160513    BA026 -25.359338 -49.231911  06:33:17        232     115
160514    BA026 -25.359300 -49.231946  06:33:18        232     116
160515    BA026 -25.358180 -49.233045  06:33:40        232     117
160516    BA026 -25.358120 -49.233105  06:33:41        232     118
160517    BA026 -25.357498 -49.233740  06:33:52        232     119
160518    BA026 -25.357126 -49.234213  06:34:04        232     120
160519    BA026 -25.357003 -49.234495  06:34:09        232     121
160520    BA026 -25.356975 -49.234561  06:34:10        232     122
160521    BA026 -25.356601 -49.235185  06:34:23        232     123
160522    BA026 -25.356358 -49.234930  06:34:28        232     124
160523    BA026 -25.356296 -49.234871  06:34:29        232     125
160524    BA026 -25.355425 -49.234218  06:34:41        232     126
160525    BA026 -25.355118 -49.234135  06:34:45        232     127
160526    BA026 -25.354933 -49.233918  06:34:49        232     128
160527    BA026 -25.354816 -49.233658  06:34:52        232     129
160528    BA026 -25.354633 -49.233391  06:34:55        232     130
160529    BA026 -25.354383 -49.233146  06:34:58        232     131
160530    BA026 -25.353285 -49.231805  06:35:15        232     132
160531    BA026 -25.353080 -49.231503  06:35:19        232     133
160532    BA026 -25.352853 -49.231333  06:35:22        232     134
160533    BA026 -25.352471 -49.231108  06:35:27        232     135
160534    BA026 -25.352331 -49.231038  06:35:29        232     136
160535    BA026 -25.351663 -49.230708  06:35:40        232     137
160536    BA026 -25.351566 -49.230690  06:35:42        232     138
160537    BA026 -25.351388 -49.230951  06:35:52        232     139
160538    BA026 -25.351313 -49.231240  06:36:01        232     140
160539    BA026 -25.351210 -49.231575  06:36:10        232     141
160540    BA026 -25.350975 -49.232081  06:36:20        232     142
160541    BA026 -25.350753 -49.232270  06:36:24        232     143
160542    BA026 -25.350665 -49.232590  06:36:28        232     144
160543    BA026 -25.350658 -49.232838  06:36:32        232     145
160544    BA026 -25.350638 -49.232880  06:41:33        232     146
160545    BA026 -25.350640 -49.233061  06:41:40        232     147
160546    BA026 -25.350680 -49.233430  06:41:46        232     148
160547    BA026 -25.350765 -49.233793  06:41:51        232     149
160548    BA026 -25.350883 -49.234086  06:41:55        232     150

In [29]:
data_gps[(data_gps.bus_code == 'BA029')].iloc[550:600,]

      bus_code   latitude  longitude timestamp  line_code  gps_id
86201    BA029 -25.364486 -49.227823  06:26:03        232     551
86202    BA029 -25.364781 -49.227735  06:26:10        232     552
86203    BA029 -25.364876 -49.227711  06:26:14        232     553
86204    BA029 -25.365076 -49.227675  06:26:35        232     554
86205    BA029 -25.365376 -49.227598  06:26:41        232     555
86206    BA029 -25.367216 -49.227040  06:27:12        232     556
86207    BA029 -25.367526 -49.227018  06:27:20        232     557
86208    BA029 -25.367681 -49.227015  06:27:25        232     558
86209    BA029 -25.367856 -49.227028  06:27:37        232     559
86210    BA029 -25.368071 -49.227078  06:27:41        232     560
86211    BA029 -25.368136 -49.227098  06:27:42        232     561
86212    BA029 -25.370116 -49.227771  06:28:09        232     562
86213    BA029 -25.370368 -49.227861  06:28:15        232     563
86214    BA029 -25.370438 -49.227885  06:28:16        232     564
86215    BA029 -25.371100 -49.228100  06:28:23        232     565
86216    BA029 -25.371213 -49.228133  06:28:24        232     566
86217    BA029 -25.371325 -49.228165  06:28:25        232     567
86218    BA029 -25.371796 -49.228298  06:28:30        232     568
86219    BA029 -25.371991 -49.228365  06:28:34        232     569
86220    BA029 -25.372253 -49.228233  06:28:45        232     570
86221    BA029 -25.372458 -49.227925  06:28:50        232     571
86222    BA029 -25.372510 -49.227850  06:28:51        232     572
86223    BA029 -25.372630 -49.227686  06:28:53        232     573
86224    BA029 -25.373100 -49.227008  06:29:00        232     574
86225    BA029 -25.373171 -49.226901  06:29:01        232     575
86226    BA029 -25.373610 -49.226033  06:29:08        232     576
86227    BA029 -25.373725 -49.225608  06:29:11        232     577
86228    BA029 -25.373830 -49.225208  06:29:14        232     578
86229    BA029 -25.373888 -49.224995  06:29:16        232     579
86230    BA029 -25.373935 -49.224813  06:29:19        232     580
86231    BA029 -25.374055 -49.224291  06:29:39        232     581
86232    BA029 -25.374106 -49.224090  06:29:42        232     582
86233    BA029 -25.374266 -49.223560  06:29:52        232     583
86234    BA029 -25.374445 -49.223326  06:30:59        232     584
86235    BA029 -25.374750 -49.223438  06:31:04        232     585
86236    BA029 -25.375030 -49.223650  06:31:08        232     586
86237    BA029 -25.376131 -49.224593  06:31:29        232     587
86238    BA029 -25.376578 -49.225008  06:31:46        232     588
86239    BA029 -25.376865 -49.225213  06:31:53        232     589
86240    BA029 -25.377010 -49.224956  06:32:00        232     590
86241    BA029 -25.377008 -49.224655  06:32:06        232     591
86242    BA029 -25.377143 -49.223518  06:32:30        232     592
86243    BA029 -25.377220 -49.223851  06:32:37        232     593
86244    BA029 -25.377263 -49.224196  06:32:44        232     594
86245    BA029 -25.377300 -49.224658  06:32:58        232     595
86246    BA029 -25.377360 -49.224878  06:35:13        232     596
86247    BA029 -25.377345 -49.225240  06:35:19        232     597
86248    BA029 -25.377138 -49.225435  06:35:27        232     598
86249    BA029 -25.376898 -49.225198  06:35:33        232     599
86250    BA029 -25.376535 -49.224868  06:35:39        232     600

In [38]:
city = 'Curitiba'

data_path = '../../data/output/' + city + '/part-00000.csv'

data_part = pd.read_csv(data_path, usecols=['route', 'tripNum', 'shapeId', 'shapeLat', 'shapeLon', 'busCode', 'busCodeSB','stopPointId',
                                       'GPShour','gps_datetime','headway','headwayThreshold', 'busBunching'])
print(data_part.shape)
data_part.head()

(37113, 13)

,route,tripNum,shapeId,shapeLat,shapeLon,busCode,gps_datetime,stopPointId,headway,headwayThreshold,busBunching,GPShour,busCodeSB
0,811,1,2209,-25.429625,-49.346314,BA012,2019-05-27 05:32:41,30509,20,5,False,5,BA023
1,811,1,2209,-25.429625,-49.346314,BA023,2019-05-27 05:53:08,30509,20,5,False,5,BA012
2,811,2,2209,-25.429625,-49.346314,BA012,2019-05-27 06:13:57,30509,20,5,False,6,BA023
3,811,2,2209,-25.429625,-49.346314,BA023,2019-05-27 06:34:05,30509,30,5,False,6,BA012
4,811,3,2209,-25.429625,-49.346314,BA012,2019-05-27 07:04:25,30509,17,5,False,7,BA023

In [39]:
data_part[(data_part.GPShour == 6) & (data_part.route == 232) & (data_part.busBunching == True)]

,route,tripNum,shapeId,shapeLat,shapeLon,busCode,gps_datetime,stopPointId,headway,headwayThreshold,busBunching,GPShour,busCodeSB
887,232,1,1810,-25.351549,-49.235398,BA026,2019-05-27 06:45:18,46725,2,4,True,6,BA029
4104,232,1,1810,-25.357919,-49.233338,BA001,2019-05-27 06:31:31,32945,2,3,True,6,BA026
5823,232,1,1810,-25.363820,-49.232767,BA001,2019-05-27 06:29:41,32930,1,3,True,6,BA026
8385,232,1,1810,-25.361648,-49.232407,BA001,2019-05-27 06:30:31,32646,1,3,True,6,BA026
8627,232,1,1810,-25.363876,-49.230435,BA001,2019-05-27 06:29:12,32473,2,3,True,6,BA026
9163,232,1,1810,-25.372634,-49.227647,BA001,2019-05-27 06:26:39,27328,1,3,True,6,BA026
9993,232,1,1810,-25.373950,-49.224603,BA001,2019-05-27 06:26:15,27340,1,3,True,6,BA026
10519,232,1,1810,-25.355048,-49.234102,BA001,2019-05-27 06:32:43,48242,2,5,True,6,BA026
11302,232,1,1810,-25.364842,-49.227710,BA001,2019-05-27 06:28:04,32468,2,3,True,6,BA026
11789,232,1,1810,-25.370722,-49.227966,BA001,2019-05-27 06:27:00,32462,2,3,True,6,BA026
13404,232,1,1810,-25.367622,-49.226984,BA001,2019-05-27 06:27:35,32465,2,3,True,6,BA026
19780,232,1,1810,-25.352712,-49.231289,BA001,2019-05-27 06:33:16,48244,2,5,True,6,BA026
20322,232,1,1810,-25.363476,-49.229191,BA001,2019-05-27 06:29:02,32471,1,3,True,6,BA026
23486,232,1,1810,-25.351372,-49.231112,BA001,2019-05-27 06:33:45,46727,2,5,True,6,BA026
24383,232,1,1810,-25.356803,-49.235083,BA001,2019-05-27 06:32:19,32946,1,3,True,6,BA026
29680,232,1,1810,-25.359703,-49.231672,BA001,2019-05-27 06:31:01,32648,2,3,True,6,BA026

In [40]:
data_part[(data_part.headway == 0) & (data_part.busBunching == True)]

,route,tripNum,shapeId,shapeLat,shapeLon,busCode,gps_datetime,stopPointId,headway,headwayThreshold,busBunching,GPShour,busCodeSB
1301,226,19,1800,-25.376477,-49.238874,BA136,2019-05-27 17:50:20,27226,0,3,True,17,BA123
1331,242,5,3051,-25.350060,-49.254784,BA116,2019-05-27 08:23:46,33120,0,8,True,8,BA138
2593,233,2,1812,-25.367847,-49.216307,BA124,2019-05-27 06:23:20,34983,0,2,True,6,BA125
5881,40,1,1718,-25.404344,-49.335465,MB603,2019-05-27 08:51:13,34156,0,4,True,8,MB015
6232,916,13,2893,-25.393313,-49.335473,MA004,2019-05-27 17:05:31,33348,0,3,True,17,MA002
6812,226,18,1800,-25.389902,-49.244996,BA039,2019-05-27 17:40:31,27235,0,6,True,17,BA123
8989,829,1,2236,-25.443662,-49.353224,BA021,2019-05-27 11:51:44,36479,0,1,True,11,BA011
8991,829,2,2236,-25.443662,-49.353224,BA021,2019-05-27 12:14:22,36479,0,1,True,12,BA011
11493,821,10,2217,-25.408820,-49.360495,MA008,2019-05-27 16:10:50,34085,0,8,True,16,MA299
12698,812,9,2211,-25.421989,-49.327277,BA112,2019-05-27 13:56:15,30314,0,7,True,13,BA008
16713,911,17,2260,-25.391595,-49.352108,MN400,2019-05-27 18:04:10,34368,0,33,True,18,MN403
16714,911,3,2260,-25.391595,-49.352108,MN403,2019-05-27 18:47:11,34368,0,33,True,18,MN400
17646,233,16,1812,-25.374537,-49.222087,BA125,2019-05-27 11:18:40,35111,0,2,True,11,BA032
17648,233,17,1812,-25.374537,-49.222087,BA125,2019-05-27 11:40:18,35111,0,2,True,11,BA032
17813,911,7,2260,-25.400857,-49.330454,MN403,2019-05-27 21:55:43,33137,0,10,True,21,MA855
19586,822,1,2219,-25.435499,-49.349799,BA028,2019-05-27 06:41:04,33745,0,2,True,6,BA017
19644,911,9,2260,-25.390048,-49.360644,MA855,2019-05-27 21:45:08,34381,0,5,True,21,MN403
19702,911,9,2260,-25.395217,-49.347472,MA855,2019-05-27 21:50:12,34355,0,29,True,21,MN403
22471,916,1,2893,-25.387952,-49.335183,MA002,2019-05-27 07:22:11,33400,0,3,True,7,MA004
23074,911,2,2260,-25.392973,-49.350628,MN403,2019-05-27 18:26:03,34359,0,32,True,18,MN400
23234,233,3,1812,-25.372598,-49.211025,BA124,2019-05-27 06:38:49,34992,0,2,True,6,BA032
23320,812,5,2211,-25.418399,-49.347119,BA008,2019-05-27 11:23:55,30334,0,7,True,11,BA019
24762,911,9,2260,-25.396923,-49.344741,MA855,2019-05-27 21:51:12,34353,0,29,True,21,MN403
25798,829,32,2236,-25.443884,-49.355121,BA011,2019-05-27 21:58:23,40943,0,5,True,21,BA010
27575,911,6,2260,-25.400972,-49.333962,MA855,2019-05-27 20:03:46,34346,0,29,True,20,MN403
28705,911,9,2260,-25.395069,-49.347697,MA855,2019-05-27 21:50:09,34356,0,5,True,21,MN403
29099,226,5,1800,-25.377069,-49.239922,BA123,2019-05-27 17:50:06,31888,0,3,True,17,BA136
29800,901,4,2257,-25.426278,-49.277071,MC301,2019-05-27 17:51:09,33734,0,4,True,17,MC303
30158,40,1,1718,-25.401266,-49.334503,MB603,2019-05-27 08:52:50,33960,0,4,True,8,MB015
30232,233,1,1812,-25.364410,-49.210286,BA124,2019-05-27 06:03:21,34986,0,2,True,6,BA125
31450,40,1,1718,-25.399839,-49.333403,MB015,2019-05-27 08:55:11,33342,0,4,True,8,MB603
32019,911,10,2260,-25.385005,-49.361839,MA855,2019-05-27 22:22:46,34394,0,5,True,22,MN403
32021,911,11,2260,-25.385005,-49.361839,MA855,2019-05-27 23:00:25,34394,0,5,True,23,MN403
32794,40,1,1717,-25.400488,-49.330711,MB015,2019-05-27 08:56:32,33119,0,4,True,8,MB603
32968,911,4,2260,-25.398348,-49.342528,MN403,2019-05-27 19:29:36,34352,0,32,True,19,MN400
33141,901,14,2257,-25.428454,-49.272983,MC080,2019-05-27 17:46:52,29598,0,4,True,17,MC301
33166,829,1,2236,-25.450505,-49.354629,BA021,2019-05-27 11:49:28,34469,0,1,True,11,BA011
34755,233,17,1812,-25.374816,-49.221300,BA125,2019-05-27 11:50:22,34979,0,5,True,11,BA032
34787,233,33,1812,-25.374816,-49.221300,BA125,2019-05-27 17:47:18,34979,0,2,True,17,BA032
36500,911,7,2260,-25.394240,-49.348936,MN403,2019-05-27 21:49:29,34357,0,28,True,21,MA855