In [1]:
import pandas as pd
import numpy as np
import random
from sklearn.model_selection import train_test_split

In [3]:
city = 'CityA'

data_path = '../../data/output/' + city

xgb = pd.read_csv(data_path + '/xgb_pred_multi_10.csv')
cat = pd.read_csv(data_path + '/cat_pred_multi_10.csv')
rf = pd.read_csv(data_path + '/rf_pred_multi_10.csv')

#y = pd.read_csv(data_path + '/y_multistep10.csv')
y_test = pd.read_csv(data_path + '/y_test_multistep10.csv')

print(xgb.shape)
print(cat.shape)
print(rf.shape)
print(y_test.shape)

print(xgb.head())
print(cat.head())
print(rf.head())
y_test.head()

(286527, 11)
(286527, 11)
(286527, 11)
(286527, 12)
    n0   n1   n2   n3   n4   n5   n6   n7   n8   n9  n10
0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
2  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
    n0   n1   n2   n3   n4   n5   n6   n7   n8   n9  n10
0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1  0.0  0.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
2  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
    n0   n1   n2   n3   n4   n5   n6   n7   n8   n9  n10
0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
2  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

,Unnamed: 0,busBunching0,busBunching1,busBunching2,busBunching3,busBunching4,busBunching5,busBunching6,busBunching7,busBunching8,busBunching9,busBunching10
0,341586,0.0,0,0,0,0,0,0,0,0,0,0
1,573490,1.0,1,1,1,1,1,1,1,1,1,1
2,50737,0.0,0,0,0,0,0,0,0,0,0,0
3,840747,0.0,0,0,0,0,0,0,0,0,0,0
4,796060,0.0,0,0,0,0,0,0,0,0,0,0

In [ ]:
data = pd.read_csv(data_path + '/normalized_data_X.csv')

# Making training and test data: 80% Training, 20% Test
random.seed(15) #to get always the same set
train_X, test_X, train_Y, test_Y = train_test_split(data, y, test_size=0.20, random_state=7)
test_Y.to_csv(data_path + '/y_test_multistep10.csv')
test_Y.head()

In [11]:
predictions = []
n_steps = 10

rf_pred = rf.to_numpy()
cat_pred = cat.to_numpy()
xgb_pred = xgb.to_numpy()

for i in range(0, len(rf)):
    pred_steps = []
    
    for n in range(0, n_steps+1):
        temp_preds = []
        temp_preds.append(rf_pred[i, n])
        temp_preds.append(cat_pred[i, n])
        temp_preds.append(xgb_pred[i, n])

        pred_steps.append(
            max(temp_preds,key=temp_preds.count)
        )
        
    predictions.append(pred_steps)
    
final_predictions = np.array(predictions)

In [23]:
final_predictions[:,7]

array([0., 1., 0., ..., 0., 0., 0.])

In [13]:
print('7 - Preds : ' + str(len(final_predictions[ (1==final_predictions[:,7]) ])/len(final_predictions)*100) +
     ' | Y : ' + str(len(y_test[y_test.busBunching7 == 1].index)/len(y_test.index)*100))

7 - Preds : 9.30488226240459 | Y : 12.84974888928443

In [14]:
print('8 - Preds : ' + str(len(final_predictions[ (1==final_predictions[:,8]) ])/len(final_predictions)*100) +
     ' | Y : ' + str(len(y_test[y_test.busBunching8 == 1].index)/len(y_test.index)*100))

8 - Preds : 9.258115291054596 | Y : 12.739811605887056

In [15]:
print('9 - Preds : ' + str(len(final_predictions[ (1==final_predictions[:,9]) ])/len(final_predictions)*100) +
     ' | Y : ' + str(len(y_test[y_test.busBunching9 == 1].index)/len(y_test.index)*100))

9 - Preds : 9.169118442590053 | Y : 12.674547250346391

In [16]:
print('10 - Preds : ' + str(len(final_predictions[ (1==final_predictions[:,10]) ])/len(final_predictions)*100) +
     ' | Y : ' + str(len(y_test[y_test.busBunching10 == 1].index)/len(y_test.index)*100))

10 - Preds : 9.138405804688563 | Y : 12.570194082931103

In [10]:
len(y_test[y_test.busBunching0 == 1].index)/len(y_test.index)*100

0.13463652640065335